@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Acceda a las <a asp-area="" asp-controller="Clientes" asp-action="Index">páginas de gestión de clientes</a>.</p>
</div>
